.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px;
 }

.grid-item {
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 0px;
    text-align: center;
  }

.grid-item:hover {
  background-color: #cfd8dc;
  cursor: pointer;
  cursor: hand;
}

.responsive {
  width: 100%;
  max-width: 200px;
  height: auto;
}