.grid_container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px;
}

.grid_item {
  padding: 0px;
  margin: 10px;
  text-align: center;
  max-width: 225px;
  border-radius: 10px;
  background-color: #EEE;
}

.responsive {
width: 100%;
max-width: 500px;
height: auto;
}

.grid_item_image {
  overflow: hidden;
}

.grid_item_image > img {
-webkit-transition: all .25s ease-in-out;
-moz-transition: all .25s ease-in-out;
-ms-transition: all .25s ease-in-out;
-o-transition: all .25s ease-in-out;
transition: all .25s ease-in-out;
}

.grid_item_image:hover > img {
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-ms-transform: scale(1.2);
-o-transform: scale(1.2);
transform: scale(1.2);
cursor: pointer;
cursor: hand;
}