<!-- <div class="grid-container responsive">
  <div *ngFor="let theme of themes" class="grid-item">
    <button routerLink="/{{theme.path}}">{{theme.name}}</button>
  </div> 
</div> -->
<div class="grid_container responsive">
  <div *ngFor="let theme of themes" class="grid_item">
      <a routerLink="/{{theme.route_path}}">
        <div  class="grid_item_image">
          <img class="responsive" src="{{path}}{{theme.image_path}}" >
        </div>
        <div class="grid_item_content">
          {{theme.quiz_name}}
        </div>
      </a>
  </div> 
</div>